@{
    Layout = null;
}

<div class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="m-0">Items</h5>
    <button id="btnAddItem" class="btn btn-sm btn-success">+ Add</button>
</div>

@* Table *@
<table id="itemsTable" class="table table-striped">
    <thead>
        <tr>
            @* <th>Category</th> *@
            <th>Name</th>
            <th>Qty</th>
            <th>Bought</th>
            <th>Sell</th>
            <th data-bs-toggle="tooltip" title="15% fees considered">Net Profit</th>
            @* <th>Avg Sell Price</th> *@
            <th>Last update</th>
            @* <th>Edited</th> *@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@* Modal: Create/Edit *@
<div class="modal fade" id="createItemModal" tabindex="-1" aria-labelledby="createItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form id="createItemForm" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title" id="createItemLabel">New Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row g-3">
                        @* ID *@
                        <input type="hidden" name="id" />
                        @* NAME *@
                        <div class="col-md-6">
                            <label>
                                Name
                                <input name="name" class="form-control" required />
                            </label>
                        </div>
                        @* CATEGORY *@
                        <div class="col-md-6">
                            <label>
                                Category
                                <select name="categories" class="form-select col-md-6" required>
                                    <option value="" disabled selected>Select Category</option>
                                </select>
                            </label>
                        </div>
                        @* DESCRIPTION *@
                        <div class="col-12">
                            <label>
                                Description
                                <textarea name="description" class="form-control" rows="2"></textarea>
                            </label>
                        </div>
                        @* QUANTITY *@
                        <div class="col-md-6">
                            <label>
                                Quantity
                                <input name="quantity" type="number" class="form-control" value="1" min="1" required />
                            </label>
                        </div>
                        @* BUY PRICE *@
                        <div class="col-md-6">
                            <label>
                                Buy Price
                                <input name="buyPrice" type="number" step="0.01" class="form-control" value="0.01" />
                            </label>
                        </div>
                    </div>

                    <div class="text-danger small mt-2 d-none" id="createItemError"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="createItemSubmit" type="submit" class="btn btn-primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>