@page
@model CS2InvestmentTracker.App.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <!-- Menu Laterale -->
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" onclick="loadTabella('Items')">Items</a>
                </li>
                <li class="list-group-item">
                    <a href="#" onclick="loadTabella('Categories')">Categories</a>
                </li>
            </ul>
        </div>

        <!-- Area di Contenuto -->
        <div class="col-md-9">
            <div id="contentArea">
                <!-- Il contenuto dinamico verrà caricato qui -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function loadTabella(tabellaName) {
            var url = '/Index?handler=' + tabellaName;
            console.log('Chiamata AJAX a: ' + url);

            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#contentArea').html(data);
                },
                error: function (xhr, status, error) {
                    console.error('Errore nella chiamata AJAX:', xhr.responseText);
                }
            });
        }
    </script>
}
